@model IEnumerable<CinemaManager.Models.Cinema.Movie>

@{
    ViewData["Title"] = "SearchByGenre";
}

<h1>SearchByGenre</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Title
            </th>
            <th>
                Genre
            </th>
            <th>
                Producer Name
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Genre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Producer.Id)
                </td>

            </tr>
        }
    </tbody>
</table>
